---
version: '3'
services:
  ldap_sync:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./example.config.toml:/config.toml:ro
      # ./root.cert:/usr/src/vaultwarden_ldap/root.cert:ro
    environment:
      CONFIG_PATH: /config.toml
      RUST_BACKTRACE: 1
    depends_on:
      - vaultwarden
      - ldap
    restart: always

  vaultwarden:
    image: vaultwarden/server
    ports:
      - 8000:80
    environment:
      ADMIN_TOKEN: admin
      SIGNUPS_ALLOWED: 'false'
      INVITATIONS_ALLOWED: 'true'

  ldap:
    image: osixia/openldap
    volumes:
      - /var/lib/ldap
      - /etc/ldap/slapd.d
    environment:
      LDAP_READONLY_USER: 'true'
      LDAP_READONLY_USER_USERNAME: readonly
      LDAP_READONLY_USER_PASSWORD: readonly

  ldap_admin:
    image: osixia/phpldapadmin
    ports:
      - 8001:80
    environment:
      PHPLDAPADMIN_HTTPS: 'false'
      PHPLDAPADMIN_LDAP_HOSTS: ldap
    depends_on:
      - ldap
