---
services:
  ldap_sync:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./example.config.toml:/config.toml:ro
      # ./root.cert:/usr/src/vaultwarden_ldap/root.cert:ro
    environment:
      CONFIG_PATH: /config.toml
      RUST_BACKTRACE: full
    depends_on:
      - vaultwarden
      - ldap
    restart: always

  vaultwarden:
    image: vaultwarden/server
    ports:
      - 80
    environment:
      ADMIN_TOKEN: admin
      SIGNUPS_ALLOWED: 'false'
      INVITATIONS_ALLOWED: 'true'
      I_REALLY_WANT_VOLATILE_STORAGE: 'true'

  ldap:
    image: osixia/openldap:1.5.0
    command: [
      "--copy-service",
      "--loglevel", "debug",
    ]
    environment:
      LDAP_ADMIN_PASSWORD: adminpassword
      LDAP_READONLY_USER: 'true'

    volumes:
      - ./itest/ldif:/container/service/slapd/assets/config/bootstrap/ldif/custom:z

  ldap_admin:
    image: osixia/phpldapadmin
    ports:
      - 80
    environment:
      PHPLDAPADMIN_HTTPS: 'false'
      PHPLDAPADMIN_LDAP_HOSTS: ldap
    depends_on:
      - ldap
