---
version: '3'
services:
  ldap_sync:
    environment:
      CONFIG_PATH: ""
      APP_VAULTWARDEN_URL: "http://vaultwarden:80"
      APP_VAULTWARDEN_ADMIN_TOKEN: "admin"
      APP_LDAP_HOST: "ldap"
      APP_LDAP_BIND_DN: "cn=admin,dc=example,dc=org"
      APP_LDAP_BIND_PASSWORD: "admin"
      APP_LDAP_SEARCH_BASE_DN: "dc=example,dc=org"
      APP_LDAP_SEARCH_FILTER: "(&(objectClass=*)(uid=*))"
      APP_LDAP_SYNC_LOOP: "false"

  vaultwarden:

  ldap:
    command: ["--copy-service"]
    volumes:
      - ./itest/50-seed-user.ldif:/container/service/slapd/assets/config/bootstrap/ldif/custom/50-seed-user.ldif
