---
services:
  ldap_sync:
    volumes:
      - ./itest/config-anon.toml:/config.toml:ro

  vaultwarden: {}

  ldap:
    environment:
      # Just to make sure there is no accidental auth using merged configs
      LDAP_ADMIN_PASSWORD: NONE
