---
name: Tests

"on":
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose

      - uses: actions/setup-python@v2
      - name: Run pre-commit hooks
        uses: pre-commit/action@v2.0.2
