---
name: Tests

"on":
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose

      - uses: actions/setup-python@v4

      - name: Run pre-commit hooks
        uses: pre-commit/action@v2.0.3
        env:
          SKIP: hadolint

      - name: Run hadolint
        uses: hadolint/hadolint-action@v3.1.0
